body{
background-color: rgb(32, 17, 20) ;
color: rgb(247, 223, 216);

}
h1{
    text-align: center;
    background-color: black;
    color: rgb(212, 50, 38);
}
h2{
    text-align: center;

}
.imagem1{
    width: 25%;
    height: 200px;
    padding: 40px;
    
}
.filme {
    text-align:center;
  

    }

.cartazes {
display: grid;
grid-template-columns: 25% 25% 25% 25%;
}
.link{
    background-color: rgb(236, 57, 141);
    color:black ;
    
}
